@import url('./assets/vendor/normalize.css');
@import url('./blocks/1.header/header.css');
@import url('./blocks/2.first-screen/first-screen.css');
@import url('./blocks/3.idea/idea.css');
@import url('./blocks/4.community/community.css');
@import url('./blocks/5.implement/implement.css');
@import url('./blocks/6.sign-up/sign-up.css');
@import url('./blocks/7.download/download.css');
@import url('./blocks/9.animated-opacity/animated-opacity.css');
@import url('./blocks/10.footer/footer.css');
@import url('');


@import url('./blocks/8.button/button.css');



.html {
    background-color: red;
}

.page {

    font-family: Roboto, Arial, sans-serif;
    margin: auto;
    overflow: hidden;
    width: 1600px;
    height: 4182px;
    background: #FFFFFF;
  
}

/* 

@media all and (min-width : 1024px)and (max-width : 1440px) {
    .page {

        margin: auto;
        overflow: hidden;

    }
}

@media all and (min-width : 768px) and (max-width : 1024px) {
    .page {


        margin: auto;
        overflow: hidden;
    }
}

@media all and (min-width : 425px) and (max-width : 768px) {
    .page {

        margin: auto;
        overflow: hidden;

    }
}

@media all and (max-width : 425px) {
    .page {

        margin: auto;
        overflow: hidden;
    }
}

@media all and (max-width : 320px) {
    .page {

        margin: auto;
        overflow: hidden;
    }
}



 */
