.header__logo_faq {
width: 26px;
height: 20px;
margin: 38px 516px 37px 0px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
display: flex;
align-items: center;
text-decoration: none;
color: #FFFFFF;

}

