.header__logo_projects {
display: flex;
margin: 38px 85px 37px 0px;   
text-decoration: none;
width: 52px;
height: 20px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
align-items: center;

color: #FFFFFF;
opacity: 0.8;
}
