@import url('./__content-block/community__content-block.css');
@import url('./__content-block/community__content-block_subtitle.css');
@import url('./__content-block/community__content-block_title.css');
@import url('./__picture/community__picture-user.css');
@import url('./__picture/community__picture.css');
@import url('./__slider/community__slider.css');
@import url('./__user-card/community__user-card.css');
@import url('./__user-card/');
@import url('');
@import url('');
@import url('');



.community {
    display: flex;
    flex-direction: row;
    width: 1600px;
    height: 504px;
    background: #FFFFFF;
}

