@import url('./__content-block/implement__content-block_subtitle.css');
@import url('./__content-block/implement__content-block.css');
@import url('./__content-block/implement__content-block_title.css');
@import url('./__image/implement__image.css');
@import url('./__implement-block/implement__implement-block.css');
@import url('');



.implement {
    display: flex;
    width: 1600px;
    height: 842px;
    background: #FFFFFF;
}

/* 
@media all and (min-width : 1281px) and (max-width : 1441px) {
    .idea {

        margin: 0 15.5% 102px;
        padding: 0px;
        max-width: 683px;
    }
}

@media all and (min-width : 1024px) and (max-width : 1280px) {
    .idea {

        margin: 0 11.5% 102px;
        padding: 0px;
        max-width: 683px;
    }
}

@media all and (min-width : 768px) and (max-width : 1024px) {
    .idea {
        max-width: 90vw;
        padding: 0px;
        margin: 0 auto 102px;

    }
}

@media all and (min-width : 425px) and (max-width : 768px) {
    .idea {
        margin: 0 auto 97px;
        padding: 0px;
        max-width: 90vw;

    }
}

@media all and (max-width : 425px) {
    .idea {
        max-width: 90vw;
        margin: 0 auto 64px;
        padding: 0px;
    }
} */